h1 {
  font-family: monospace;
  font-size: 3em;
  animation: color-change 1s infinite;
    text-align: center;

}
ul {
  color: #87A485;
  list-style: bullet;
  text-align: center;
  list-style-position: inside;
  

}
li {
    font-size: 30px;
}
body {
  background-color: #4a412a;
}
@keyframes color-change {
  0% { color: green; }
  50% { color: 	#006400; }
  100% { color: green; }
}

img {
position:absolute;
}

.right {
  margin-left: 74%;
}